<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/assistant-styles.css">
    <title >PearOS NiceC0re progress</title>
  </head>
  <body data-step="progress" class="install-progress-page">
    <div class="flex-container">
      <div class="app">
        <div class="tabs">
          <div class="tab active">
            <img class="release-logo-agreement" height="350px" src="../resources/nicec0re-logo.png" alt="PearOS NiceC0re logo"/>
            <h1><b>PearOS NiceC0re</b></h1>
            <p align="center" class="setup-text" id="disk-install-text" data-i18n="disk.installTextPrefix">PearOS NiceC0re will be installed on the disk:</p>
            <ul id="disk_list" class="ul_menu_disk">
              <form>
                <p data-i18n="progress.unableToStart"> Installer was unable to start. Make sure it is run from the pearOS installer utility, or nodeJS/electron is working.</p>
              </form>
            </ul>
          </div>
        </div>
        <div class="movement-buttons">
          <div class="grid-container-status">
            <button class="install-button-agreement" id="close-btn" onclick="closeWindow();" data-i18n="progress.close"> Close </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/engine.js"></script>
  <script src="../js/i18n.js"></script>
  <script src="../js/progress.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/focus-fix.js"></script>
</html>
